@model IEnumerable<FlowerShop.Models.Blog>
@foreach(var item in Model)
{
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 product-blog">
		<a href="blog-post.html"><img src="@item.Image" class="img-responsive" alt="img-holiwood"></a>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 title-blog">
		<h2><a href="blog-post.html">@item.Title</a></h2>
		<div class="time-blog">
			<span class="time"><i class="far fa-calendar-alt"></i><span>@item.CreatedBlog.Value.ToString("dd/MM/yyyy")</span></span>
			<span class="time"><i class="far fa-edit"></i><span>@item.AuthorName</span></span>
		</div>
		<p>@item.Summary</p>
		<a href="#">Xem them...</a>
	</div>
}


