
@{
    ViewData["Title"] = "DetailProduct";
}
@model Product
@{
	List<FeedbackCustomer> feedback = ViewBag.feedback;
	List<Product> productrelate = ViewBag.productrelate;
	List<ProductImage> imageproduct = ViewBag.imageproduct;

}
<main>
	<div class="content-search">

		<div class="container container-100">
			<i class="far fa-times-circle" id="close-search"></i>
			<h3 class="text-center">what are your looking for ?</h3>
			<form method="get" action="https://landing.engotheme.com/search" role="search" style="position: relative;">
				<input type="text" class="form-control control-search" value="" autocomplete="off" placeholder="Enter Search ..." aria-label="SEARCH" name="q">

				<button class="button_search" type="submit">search</button>
			</form>
		</div>

	</div>
	<div class="container">
		<div class="menu-breadcrumb">
			<ul class="breadcrumb">
				<li><a href="homev3.html">Trang Chu</a></li>
				<li><a href="flower.html">Cua Hang</a></li>
				<li><a href="#">@Model.ProductName</a></li>
			</ul>
		</div>
	</div>
	<div class="product-detail">


		<div class="container">

			<div class="row">
				<div class="slider-for">
					

					<div class="product-content">

						<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 img-content">
							<img id="mainProductImage" src="@Model.ImagePopular" class="img-responsive" alt="img-holiwood">
						</div>
						<div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 detail">
							<h1>@Model.ProductName</h1>
							<p class="p1">@Model.ProductCategory.ProductCategoryName<br class="hidden-md hidden-sm hidden-xs">(@Model.ProductCategory.ProductCategoryDescription)</p>
							<div class="star">

								@for (var i = 0; i < Model.Star; i++)
								{
									<i class="fas fa-star"></i>
								}

								<span>@feedback.Count()| Đanh Gia</span>
							</div>
							<div class="prince">
								@if (Model.PriceSale == 0)
								{
									@Model.ProductPrice
								}
								else
								{


									<s class="strike">@Model.ProductPrice</s>
									@Model.DiscountPrice
								}
								
								
								
							</div>
							

							
							<div class="Quality">
							
								<div class="input-group input-number-group">
									<span class="text-qua">Quanty:</span>
									<div class="input-group-button">
										<span class="input-number-decrement">-</span>
									</div>
									<input class="input-number" type="number" min="0" max="1000" value="01">
									<div class="input-group-button">
										<span class="input-number-increment">+</span>
									</div>
									<span class="dola">đ </span><span class="total-prince">
										@if (Model.PriceSale == 0)
										{
											@Model.ProductPrice
										}
										else
										{
											
											@Model.DiscountPrice
										}


										
									</span>
								</div>

							</div>
							<div class="add-cart">
								<a href="#" class="btn-add-cart">Them Vao Gio</a>
								<a href="#" class="list-icon icon-1"><i class="far fa-eye"></i></a>
								<a href="#" class="list-icon icon-2"><i class="far fa-heart"></i></a>
							</div>
							

						</div>

				

						

						<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12" style="margin-top: 70px;">
							<div class="row thumbnail-container">

								<div class="col-xs-4 thumbnail-item">
									<img src="@Model.ImagePopular" class="img-responsive product-thumbnail" alt="Main Thumbnail">
								</div>

								@* GIẢ ĐỊNH: Bạn có một danh sách ảnh phụ (paths) để lặp *@
								@foreach (var imagePath in imageproduct)
								{
									<div class="col-xs-4 thumbnail-item">
										<img src="@imagePath.ImageUrl" class="img-responsive product-thumbnail" alt="Thumbnail">
									</div>
								}
							</div>
						</div>
						
					</div>
					
					
				</div>
				

				<div class="col-lg-7 connect-us col-md-6 col-sm-12 col-xs-12">
					<a href="#" id="like-fb"></a>
					<a href="#" id="like-tw"></a>
					<a href="#" id="like-gg"></a>
					<a href="#" id="like-share"></a>
				</div>


			</div>

		</div>
		<div class="product-text">
			<div class="container">
				<ul class="nav nav-tabs menu-tab">
					<li class="active"><a data-toggle="tab" href="#decription">Mo ta San pham</a><figure id="fi-decription"></figure></li>
					<li><a data-toggle="tab" href="#product-tag">Danh gia san pham</a><figure id="fi-product-tag"></figure></li>
					<li><a data-toggle="tab" href="#write">Binh luan ve san pham</a><figure id="fi-write"></figure></li>
					
				</ul>

				<div class="tab-content">
					<div id="decription" class="tab-pane fade in active">
						<p>
							@Model.ProductDescription
							
							<br><br>
							
						</p>
					</div>
					<div id="product-tag" class="tab-pane fade">
						<p>
							<style>
								/* CSS này giúp 2 cột cao bằng nhau */
								.row-equal-height {
									display: flex;
									flex-wrap: wrap;
								}

								/* Ép khung chứa ảnh cao 100% */
								.img-container-full {
									height: 100%;
									display: block;
								}

									/* Ép thẻ a bên trong cao 100% */
									.img-container-full a {
										height: 100%;
										display: block;
									}

								/* QUAN TRỌNG: Ép ảnh cao 100% và dùng object-fit để cắt ảnh đẹp, không bị méo */
								.img-cover {
									width: 100%;
									height: 100% !important;
									object-fit: cover; /* Ảnh sẽ tự zoom để lấp đầy khung mà không bị méo */
									object-position: center;
								}
							</style>
							<div class="message">
								<div class="container">
									<div class="row row-equal-height">

										<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
											<figure id="img-contact" class="img-container-full">
												<a href="#">
													<img src="~/img/img-slide-h22.jpg" class="img-responsive img-cover" alt="img-flower">
												</a>
											</figure>
										</div>

										<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 message-contact">
											<h1>Đánh Giá Sản Phẩm</h1>
											<partial name="_FeedbackForm" model="new FlowerShop.Models.FeedbackCustomer { ProductId = Model.ProductId }" />
										</div>

									</div>
								</div>
							</div>
						</p>
					</div>
					<div id="write" class="tab-pane fade">


					


							<style>
								/* Khung bao quanh 1 review */
								.review-item {
									display: flex; /* Xếp hàng ngang */
									align-items: flex-start;
									padding: 20px 0;
									border-bottom: 1px solid #eee; /* Gạch chân mờ ngăn cách các review */
								}

								/* Phần ảnh đại diện bên trái */
								.review-avatar {
									flex-shrink: 0; /* Không bị co lại */
									margin-right: 15px;
								}

									.review-avatar img {
										width: 60px;
										height: 60px;
										border-radius: 50%; /* Bo tròn ảnh */
										object-fit: cover; /* Cắt ảnh vừa khung tròn */
										border: 2px solid #f0f0f0;
									}

								/* Phần nội dung bên phải */
								.review-content {
									flex-grow: 1;
								}

								/* Tên người dùng */
								.review-author {
									font-weight: 700;
									font-size: 16px;
									color: #333;
									margin-bottom: 2px;
									text-transform: uppercase;
								}

								/* Ngày tháng */
								.review-date {
									font-size: 12px;
									color: #999;
									font-weight: normal;
									margin-left: 10px;
								}

								/* Ngôi sao đánh giá */
								.review-rating {
									color: #ffc107; /* Màu vàng */
									font-size: 14px;
									margin-bottom: 8px;
								}

								/* Nội dung text */
								.review-text {
									color: #555;
									font-size: 15px;
									line-height: 1.6;
									margin: 0;
								}
							</style>

							<div class="review-list">
								@foreach(var i in feedback)
									{
								<div class="review-item">
									
										<div class="review-avatar">

											@if(i.AvatarUrl==null)
										{
											<img src="/img/avatar.jpg" alt="Avatar" style="width: 50px; height: 50px; object-fit: cover;">
										}
										else
										{
											<img src="@i.AvatarUrl" alt="Avatar" style="width: 50px; height: 50px; object-fit: cover;">
										}
                                      
											
										</div>
										<div class="review-content">
											<div class="review-author">
												@i.Ten
												
											</div>
											<div class="star">

												@for (var a = 0; a < i.Star; a++)
												{
                                                    <i class="fas fa-star"></i>
                                            
                                                   
												}

											</div>
											<p class="review-text" style="margin-bottom: 20px;">
												@i.Content
											</p>
										</div>
										

									
								</div>
							}
							</div>
							
						
					</div>
					<div id="addtional" class="tab-pane fade">
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.
							<br><br>
							Fusce aliquet, ante cursus gravida sagittis, justo erat rhoncus sapien, eget condimentum ligula magna sed est. Suspendisse molestie ligula tortor. Suspendisse vitae orci ac purus eleifend malesuada at vel tellus. Sed ac semper magna. Mauris consequat blandit risus. Cras dictum eros libero, a scelerisque quam laoreet non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam pharetra euismod felis, a eleifend magna.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="related">
			<div class="container">
				<h1>San Pham Lien Quan </h1>
				<div class="row">
					@foreach(var a in productrelate)
						{
						string sUrl = $"/product/{a.Alias}-{a.ProductId}.html";
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 product-category">
						
						<div class="product-image-category">

								@if (a.PriceSale == 0)
								{
									<a href="#"><img src="@a.ImagePopular" class="img-responsive" alt="img-holiwood"></a>
								}
								else
								{
									<figure class="sale"><a href="#"><img src="@a.ImagePopular" class="img-responsive" alt="img-holiwood"></a></figure>
								}

							
							<div class="product-icon-category">
								<a href="@sUrl"><i class="far fa-eye"></i></a>
								<a href="#"><i class="fas fa-shopping-basket"></i></a>
								<a href="#"><i class="far fa-heart"></i></a>
							</div>
						</div>
						<div class="product-title-category">
							<h5><a href="#">@a.ProductName</a></h5>

								@for (var i = 0; i < a.Star; i++)
								{
									<i class="fas fa-star"></i>
								}
								<div class="prince">

									@if (a.PriceSale == 0)
									{
										@a.ProductPrice
									}
									else
									{



										<s class="strike">@a.ProductPrice</s>
										@a.DiscountPrice
									}
								</div>
							
						</div>
				
							
					</div>	
					
				
					}
				</div>
			</div>

		</div>
	</div>

	<div class="info-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<h3>About</h3>
						<ul>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">News & Stories</a></li>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">History</a> </li>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Our Studio</a></li>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Shop</a></li>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Stockists</a></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<h3>Customer sevices</h3>
						<ul>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Contact Us</a></li>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Trade Services</a></li>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Login/Register</a></li>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Delivery & Returns</a></li>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">FAQs</a></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<h3>Store</h3>
						<ul>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Shop</a></li>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Wedding</a></li>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Birthday</a></li>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Women's day</a></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<h3>Shop collection</h3>
						<ul>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">New Arrivals</a></li>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Hot</a></li>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Sale</a></li>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Deal of the day</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 social">
					<p>CONNECT WITH US:</p>
					<a href="#" id="link-insta"></a>
                    <a href="#" id="link-fb"></a>
					<a href="#" id="link-tw"></a>
					<a href="#" id="link-sky"></a>
					<h1>Newsletter</h1>
					<h2>Sign up for our mailing list to get latest updates and offers</h2>
					<form class="form-group" action="https://landing.engotheme.com/html/jenstore/demo/mail" method="post">
						<input type="text" name="input-mail" placeholder="Your mail here" class="input-lg">
						<button type="submit"><img src="~/img/Send.png" alt="img-holiwood"></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>
<script src="/lib/jquery/dist/jquery.min.js"></script>
@* Đặt script này ở cuối file, trước thẻ </body> *@
<script>
	// Đợi cho toàn bộ DOM (bao gồm cả ảnh) được tải xong
	$(document).ready(function() {
		console.log('DOM Ready. Bắt đầu gắn sự kiện cho Thumbnails.');

		// Sử dụng event delegation trên một phần tử cha ổn định (.thumbnail-container)
		// để đảm bảo sự kiện hoạt động ngay cả khi ảnh được tải sau.
		$('.thumbnail-container').on('click', '.product-thumbnail', function() {

			// 1. Lấy đường dẫn (src) của ảnh nhỏ vừa được click
			var $clickedThumbnail = $(this);
			var newImageSrc = $clickedThumbnail.attr('src');

			// 2. Lấy tham chiếu đến ảnh lớn
			var $mainImage = $('#mainProductImage');

			// KIỂM TRA ĐƯỜNG DẪN VÀ ẢNH LỚN
			if (newImageSrc && $mainImage.length) {
				// 3. Cập nhật thuộc tính 'src' của ảnh lớn
				$mainImage.attr('src', newImageSrc);

				// 4. Cập nhật trạng thái active (border)
				$('.product-thumbnail').removeClass('active-thumbnail');
				$clickedThumbnail.addClass('active-thumbnail');

				console.log('Đã đổi ảnh thành: ' + newImageSrc);
			} else {
				console.error('Lỗi: Không tìm thấy ảnh lớn (#mainProductImage) hoặc đường dẫn ảnh nhỏ bị thiếu.');
			}
		});

		// Tùy chọn: Đặt ảnh đầu tiên là active khi trang tải
		$('.product-thumbnail').first().addClass('active-thumbnail');
	});
</script>

<style>
	/* CSS Tùy chọn để làm nổi bật ảnh đang được chọn */
	/* Container bao quanh các ảnh nhỏ */
	.thumbnail-container {
		display: flex;
		align-items: flex-end; /* Căn dưới các ảnh nhỏ bằng cạnh dưới ảnh lớn */
		gap: 10px; /* khoảng cách giữa các ảnh */
	}

	/* Các ảnh nhỏ */
	.product-thumbnail {
		height: 225px; /* tăng chiều cao để ảnh lớn hơn */
		object-fit: cover; /* giữ tỷ lệ và cắt ảnh vừa khung */
		cursor: pointer;
		border: 2px solid transparent;
		transition: border 0.2s;
	}

		.product-thumbnail.active-thumbnail,
		.product-thumbnail:hover {
			border: 2px solid #D63384;
		}

</style>